*{
    margin: 0;
    padding: 0;
}

:root {
    --card-color-primary: #F7DD43;
    --card-title-color-primary: #746615;
    --card-bg-color: #1D1C19;
}

/* body.blue{
    --card-color-primary: #338Af3;
    --card-title-color-primary: #338Af3; 
    --bg: url(./assets/backgrounds/bg-blue.svg);
    --card-bg-color: #202024;

    
}

body.green{
    --card-color-primary: #047C3F;
    --card-title-color-primary: #047C3F; 
    --bg: url(./assets/backgrounds/bg-green.svg);
    --card-bg-color: #1A1F1B;

} */

ul {
    list-style: none;
}

body {   
    background: repeating-radial-gradient(#047C3F, #6DA544, #496E2D);
    background-position: top center;
    background-size: cover;
}

#app {
    width: fit-content;
    margin: auto;
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

header {
    margin-bottom: 63px;
}

.card, .phase, .cardFinal {
    padding: 32px 23px;
    text-align: center;
    background: var(--card-bg-color);
    border-bottom: 2px solid var(--card-color-primary);
    border-radius: 6px;
}

.card h2, .phase h2, .cardFinal h2 {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #F7DD43;
    border-radius: 6px;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 53px;
    color: #F7DD43;
    text-transform: uppercase;
}

.phase {
    width: 615px;
    height: 60px;
}

.cardFinal {
    width: 615px;
    height: auto;
}

body * {
    font-family: 'Roboto', sans-serif;
}

.card h2 span, .cardFinal h2 span {
    color: #E1E1E6;
    font-size: 14px;
    text-transform: uppercase;
}
.card ul, .cardFinal ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 270px;
}

.card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardFinal ul li {
    display: flex;
    align-items: center;
}

.card ul li + li, .cardFinal ul li + li {
    padding-top: 24px;
    border-top: 1px solid #323238;
}

.card ul li strong, .cardFinal ul li strong  {
    font-weight: 900;
    font-height: 125%;
    font-size: 36px;
    color: #E1E1E6;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover{
    transform: scale(1.1);
}
.card h2,
.card ul li strong,
.card ul li img{
    transition: transform 0.1s;
}

.card {
    animation: appear 0.2s;
}

#results-button {
    width: 200px;
    height: 30px;
    margin: 10px 0px 10px 0px;
    border-radius: 6px;
    border: none;
    background-color: #047C3F;
    color: #FFFFFF;
    transition: transform 0.3s;
}

#results-button:hover {
    animation: appear 0.3s;
    border: 1px solid #F7DD43;
    transform: scale (1.5);

}


@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 700px){
    #cards{
        max-width: 670px;
        flex-direction: row;
        flex-wrap: wrap;
    }

}